*{ /*Reference fra baramjollragnheidardottir-sketch
presentation Github*/
   
box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

/* kode er lavet med inspiration og reference fra https://www.w3schools.com/css/css_grid.asp*/
body {
    background-color: #ffffff;
    display: grid;
    grid-template-rows: 60px 1fr 70px; 
    height: 100vh;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

/* kode er lavet med inspiration og refernce fra https://www.w3schools.com/css/css3_flexbox.asp*/
.app-header {
    grid-row: 1;
    background-color: #FFF0F0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
 
}

/*AI brugt til denne kode, refere til dokument AI prompt Rikke*/
/* logoið sendir til baka til mine vagter*/
.brand-button {
    flex: 0 0 100px;
}

/*AI brugt til denne kode, refere til dokument AI prompt Rikke*/
.brand-button img {
   height: 50px;
   width: auto;
}


.header-title {
    font-size: 1.1rem; 
    flex-grow: 1;
    text-align: center;
    font-family: 'JeanLucWeb-Bold', sans-serif;
    color: rgb(68,36,94);
}

/*AI brugt til denne kode, refere til dokument AI prompt Rikke*/
.app-header::after {
    content: "";
    flex: 0 0 50px; 
}

.content-area {
    grid-row: 2;
    padding: 20px;
    background-color: #ffffff;
    /*AI brugt til denne kode, refere til dokument AI prompt Rikke*/
    -webkit-overflow-scrolling: touch;
}

/*henda þegar Malik er búinn*/
.proces-bar {
    width: 100%;
    background-color: #ffffff;
    padding: 0%;
}

/* Brugt mine noter til BEM og flex, AI til at hjælpe med andre, det er til ALLE main menu */
.main__menu {
    display: flex;
    justify-content: space-evenly; /*lárétt*/
    align-items: center; /*centrað lóðrétt*/
}
.main__menu-item {
    font-family: "roboto regular";
    font-size: 1.2rem;
    color: rgb(68, 36, 94);
    text-decoration: none; /* fjerner underline, da det er default når man har en a href link*/
    position: relative; /* passer på at den røde streg placerer sig i forhold til teksten */
    transition: transform 0.2s ease;
}
.main__menu-item::after {
    content: ""; /* er brugt med pseudo-elements og betyder "lave en tomt element", så har jeg ikke brug for ekstra div i html til at ha rød strejg*/
    position: absolute;
    left: 0;
    bottom: -0.3rem;
    width: 0; /* starter skjult, så stregen kun vises ved hover eller active */
    height: 0.12rem;
    background-color: red;
    transition: width 0.3s ease; /* gør at stregen glider blødt ud */
}
.main__menu-item:hover {
    transform: scale(1.10); /*gør det større om 10%*/
}
.main__menu-item:hover::after {
    width: 100%;
    font-weight: bold;
}
.main__menu-item--active::after {
    width: 100%;
}

.overblik-vagter{
    display: grid;
    gap: 1rem;
    padding-top: 1rem;
    }

.card-vagt{
    display: grid;
    grid-template-columns: auto 1px 1fr; /* auto er at den tage lige så meget plads og content er stor*/
    gap: 1rem;
    align-items: center;
    border: 2px solid rgb(68, 36, 94);
    border-radius: 10px;
    padding: 0.5rem;
}

.card-vagt__date{
    font-family: "roboto regular";
    font-size: 1.5rem;
    color: rgb(68, 36, 94);
    font-weight: bold;
}

.card-vagt__line{
    width: 2px;
    height: 80%;
    background-color: rgb(68, 36, 94);
}

.card-vagt__content{
    display: grid;  
}

.card-vagt__text{
    font-family: "roboto regular";
    font-size: 1rem;
    color: rgb(68, 36, 94);
}

.card-vagt__title{
    font-family: "roboto regular";
    font-size: 1.2rem;
    color: rgb(68, 36, 94);
}

.card-vagt__time{
    font-family: "roboto regular";
    font-size: 1rem;
    color: rgb(68, 36, 94);
}

.card-vagt__location{
    font-family: "roboto regular";
    font-size: 1rem;
    color: rgb(68, 36, 94);
}

.card-vagt__button{

}

.footer{
   background-color: #FFF0F0; 
}

.bottom-nav {
    grid-row: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    background-color: #FFF0F0;
}

.nav-buttons {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nav-icon {
    width: 50px; 
    height: 50px;
    object-fit: contain;
}

/* Kode lavet fra dem som vi har fået fonten fra, ændret af ai */
@font-face {
	font-family: 'JeanLucWeb-Bold';
    src: url("fonts/jeanlucweb-bold.woff") format("woff");
}

/*AI brugt til denne kode, refere til dokument AI prompt Rikke*/
@media (min-width: 600px) {
    body {
        width: 100%;
        margin: 0 auto;
        position: relative; 
    }

    .nav-icon{
        width:70px;
        height:70px;
    }

}